<div class="container">
    <div class="row"> 
    <div class="col text-center"> 
<img src="img/anjay.jpg" alt="Abdurrahman Rifqy" class="img-thumbnail
rounded-circle" width="200"/>
<h1 class="display-4">Abdurrahman Rifqy</h1>
<p class="lead">Student's | Programer</p>
</div>
</div>
</div>